.Vsep{
    height: 20px;
    width: 2px;
    color: gray;
    margin: 0 10px;
    background-color: rgb(238, 237, 237);
}
.df{
    display: flex;
}
.ml{
    margin-left: 5px;
    margin-right: 20px;
}
.jc{
    justify-content: space-between;
}
.jc1{
    width: max-content;
    
}
.m{
    margin-top: 5px;
}
.dg{
    display: grid;
}
.b{
    margin-bottom: 20px;
}
.mr{
    width: 25%;
}
.ft{
    margin-top: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    display: flex;
}
.fd{
    flex-direction: column;
}
.width20{
    width: 100%;
}
.w{
    width: max-content;
    margin-left: 20px;
}
.More{
    position: relative;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
height: 60px;
-webkit-box-orient: vertical;
}
.Less{
    
   z-index: 1;
    overflow-y: scroll;
    text-overflow: ellipsis;
    height: max-content;
    background-color: white;
}

.hide{
    display: none;
}
.show{
  font-size: 18px; 

}
.center{
    align-items: center;
    justify-content: center;
}