.sb{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.height{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bt{
    background-color :red;
}
.bf{
    background-color :rgb(243, 239, 239);
}
.seperetor{
    height: 2px;
    width: 100%;
    background-color: rgb(238, 237, 237);
}
.flex{
    flex-wrap: wrap;
    justify-content: space-between;
}